---
import { MenuIcon } from "@lucide/astro";
import logoUrl from "../assets/img/logo.svg";
---

<header class="fixed w-full bg-white/90 backdrop-blur-xs z-50 shadow-sm">
	<div class="lg:w-[80%] mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between items-center py-4 md:justify-start md:space-x-10">
			<div class="flex justify-start lg:w-0 lg:flex-1">
				<a href="#" class="flex items-center">
					<img src={logoUrl.src} alt="logo"/>
				</a>
			</div>
			<div class="-mr-2 -my-2 md:hidden">
				<button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary" aria-expanded="false">
					<span class="sr-only">Open menu</span>
					<MenuIcon/>
				</button>
			</div>
			<nav class="hidden md:flex space-x-10">
				<a href="#features" class="text-base font-medium text-gray-900 hover:text-[#4250D8]">Features</a>
				<a href="#pricing" class="text-base font-medium text-gray-900 hover:text-[#4250D8]">Pricing</a>
				<a href="#testimonials" class="text-base font-medium text-gray-900 hover:text-[#4250D8]">Testimonials</a>
				<a href="/blog" class="text-base font-medium text-gray-900 hover:text-[#4250D8]">Blog</a>
			</nav>
			<div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
				<a href="#" class="whitespace-nowrap text-base font-medium text-gray-900 hover:text-[#4250D8]">Sign in</a>
				<a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border text-white bg-[#4250D8] hover:bg-[#3340b4] border-transparent rounded-md shadow-sm text-base font-medium  hover:bg-primary-dark">
					Get Started
				</a>
			</div>
		</div>
	</div>
</header>
